@import url('https://fonts.googleapis.com/css2?family=Beaufort-Bold&display=swap');

.image-container {
    background-image: url('image/img.10.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 94px 0;
}
.navbar {
    height: 100px;
    background-color: #343a40;
}
.navbar-brand img{
    width: 244px;
    height: 115px;

.navbar-brand{
    margin-right: auto;
    padding: 0;
}
}
.navbar-nav {
    margin-left: auto;
}
.nav-link {
    font-weight: bold;
}
.row {
    background-image: url('image/img.11.svg');
    background-size: cover;
}


    @keyframes fadeInOut {
        0%, 100% { opacity: 0; }
        50% { opacity: 1; }
    }
.lead {
         border: 5px solid white;
         padding: 10px;
     }

@keyframes glow {
    0% { text-shadow: 0 0 10px #e6387b, 0 0 20px #a51313, 0 0 30px #742293; }
    50% { text-shadow: 0 0 20px #e6387b, 0 0 30px #a51313, 0 0 40px #742293; }
    100% { text-shadow: 0 0 10px #e6387b, 0 0 50px #a51313, 0 0 30px #742293; }
}

.display-4 {
    font-family: 'Beaufort-Bold', sans-serif;
    font-weight: bold;
    color: #e6387b;
    -webkit-text-stroke: 2px black;
    animation: glow 5s ease-in-out infinite alternate;
}
.display-4{
    font-weight: 900;
    animation: pulse 1s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.lead {
    font-weight: 910;
    opacity: 0;
    animation: fadeInOut 10s infinite;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.card-body {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: 250px;
    padding: 20px;

}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #4caf50;
    border-color: #4caf50;
}

.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}


